[package]
name = "rustigo"
version = "0.1.0"
authors = ["John Barker <jebarker@gmail.com>"]

[dependencies]
conv = "*"
custom_derive = "*"
env_logger = "*"
logger = "*"
rocket = "*"
rocket_codegen = "*"
rocket_contrib = "*"
serde = "*"
serde_derive = "*"
ws = "*"
